<div>
  {% if section.settings.text != blank %}
    <p class='announcement-bar__text'>{{ section.settings.text }}</p>
  {% endif %}
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Announcement",
      "default": "Free shipping on orders over $50"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar"
    }
  ]
}
{% endschema %}
